/* Váriaveis de cor */

:root
{
    --rosa: #f388aa;
    /* --corLetras: #ffdda9; */
    --rosaEscuro: #c31c51;
    --preto: rgb(70, 70, 70);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* ----Carrosel boptstrap---- */

.carousel-inner img{
    height: 100% ;
    max-height: 530px;
}

/* ----Seção Vantagens---- */

.vantagens
{
    background-color: var(--rosaEscuro);
}
.vantagens .container
{
    display: flex;
    justify-content: space-around;  
}
.vantagens .container div
{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 20px;
}
.vantagens i
{
    font-size: 35px;
    color: white;
}
.vantagens p
{
    margin-top: 10px;
    color: white;
    text-align: center;
    width: 200px;
    font-size: 14px;
}

/* ---- Seção promoções---- */

.promocoes .container
{
    display: flex;
    justify-content: space-between;
}
.promocoes img
{
    height: 500px;
    width: 380px;
}

/* Carrossel geral */

.carrossel{
    max-width: 100%;
    height: 100%;
}

.container-carrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    position: relative;
    margin: 0 20px;
}

.carrossel .slick-list
{
    height: 100%;
    max-width: 100%;
}

/* .carrosel .slick-slide
{
    height: 100%;
} */

.slick-slide img
{
    display: initial !important;
}

.tituloSecao
{
    color: var(--preto);
    font-size: 30px;
    margin: 0 10px;
   
}
.tituloSecao a, .tituloSecao a:hover, .tituloSecao a:visited
{
    text-decoration: none;
    color: var(--preto);
}

.arrow {
    
    width: 10%;
    height: 50px;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 5%;    
}

#arrow-prev1, #arrow-prev2{
    font-size: 30px;
    color: var(--rosa);

    position: absolute;
    left: -4%;
    z-index: 1; 
}
  
#arrow-next1, #arrow-next2{
    position: absolute;
    right: -4%;
    z-index: 1; 

    font-size: 30px;
    color: var(--rosa);  
}

.destaques-carrossel, .novidades-carrossel{
    padding-top: 20px;
    text-align: center;
}

/* Destaques da semana  */

.container-titulo
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tituloPrincipal
{
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    color: var(--preto);
}
.tituloPrincipal strong
{
    color: var(--rosaEscuro);
    font-style: italic;
}
.container-titulo i
{
    color: var(--rosaEscuro);
    margin: 0 1%;
    font-size: 18px;
}

.container-destaque
{
    display: flex;
    justify-content: center;
    max-height: 700px;
}

.container-destaque img 
{
    width: 200px;
    height: 200px;
    margin-right: 0px;
}

.container-imagem
{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
}

.container-imagem figure
{
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}
.container-imagem img
{
    width: 100%;
    height: 100%;
}
.container-imagem figcaption
{
    width: 100%;
    background-color: var(--rosaEscuro);
    color: white;
    padding: 10px;

    font-size: 16px;
    transition: 0.3s;
}

.container-imagem figcaption:hover
{
    font-size: 18px;
}
.container-imagem figcaption i
{
    margin-left: 10px;
}

.container-destaque .container-carrossel
{
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-carrossel .produtos
{
    height: 100%;
}
.container-destaque .slick-list
{
    height: 100%;
    max-width:400px;
}

.container-destaque .slick-slide
{
    margin: 0 !important;
    height: 100%;
}

#arrow-prev
{
    color: var(--rosaEscuro);
    font-size: 25px;
    
    position: absolute;
    z-index: 1;
    left:-6%;
}
#arrow-next
{
    position: absolute;
    z-index: 1;
    right: -6%;

    color: var(--rosaEscuro);
    font-size: 25px;
}

/*---- Novidades ----*/

.container-tituloSecao
{
    display: flex;
    align-items: center;
    max-width: 1050px;
    margin: 20px auto;
}

.decoracao2
{
    background-color: var(--rosaEscuro);
    width: 5px;
    height: 30px;
    border-radius: 5px;
}

/* Seção banner */

.secao-banner .container
{
    display: flex;
    justify-content: center;  
}
.secao-banner img
{
    width: 100%;
    max-width: 1000px;
}

/* Seção Menu */
.secaoMenu .container
{
    padding: 30px 10px;
}
.secaoMenu .container-categoria
{   
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 10%;
    max-width: 1000px;
    margin: auto;
}
.container-titulo-categorias
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.container-titulo-categorias h2 strong
{
    color: var(--rosa);
    font-style: italic;
}
.container-titulo-categorias i
{
    font-size: 16px;
    color: var(--rosa);
    margin: 0 1%;
}
.secaoMenu .fundo div
{
    cursor: pointer;
    display: flex;   

    padding-top: 350px;
    max-width: 400px;
    max-height: 500px;
    margin: 30px 10px;
    box-shadow: 0.3em 0.2em 0.2em rgb(163, 159, 159);
}
.secaoMenu .fundo
{
    background-color: #f388aa;
    max-width: 450px;
    max-height: 400px;
    margin: 30px 0;
}
.roupas
{
    background-image: url(../imgs/image2.png);
    background-repeat: no-repeat;
    padding-top: 0 !important;
    padding-bottom: 350px;
    max-height: 400px;
}

.acessorios
{
    background-image: url(../imgs/image3.png);
    background-repeat: no-repeat;
    padding-top: 0 !important;
    padding-bottom: 350px;
    max-height: 400px;
}

.colecoes
{
    background-image: url(../imgs/image0.png);
    background-repeat: no-repeat;

}

.calcados
{
    background-image: url(../imgs/image1.png);
    background-repeat: no-repeat;
}
.secaoMenu
{
    background-color: whitesmoke;
}

.secaoMenu h2
{
    text-align: center;
    color: var(--preto);
    padding-top: 20px;
}
.secaoMenu .decoracao
{
    background-color: var(--rosa);
}
.secaoMenu a
{
    font-size: 30px;
    margin-left: 20px;
    color: var(--preto);
    text-shadow: 0.05em 0.05em 0.1em rgb(217, 212, 212);

    text-transform: uppercase;
    text-decoration: none;
}
.secaoMenu a:hover
{
    font-size: 35px;
}
.secaoMenu a:visited, .secaoMenu a:hover
{
    text-decoration: none;
    color: var(--preto);
}


/* Responsividade para dispositivos móveis */

@media (max-width: 430px){

    /*  banner de vantagens  */

    .vantagens .container{
        max-width: 100%;
    }
    .vantagens .container div{
        max-width: 33%;
    }
    .vantagens p{
        max-width: 100%;
    }

    /* seção de destaques */

    .container-destaque
    {
        flex-direction: column;
    }
    .destaques-carrossel{
        margin-top: 15px;
    }

    /* seção de novidades */
    /* .novidades-carrossel{
        display: none;
    } */

    /* seção de menu */
    .secaoMenu .container-categoria{
        grid-template-columns: 1fr;
    }

    /* .secaoMenu .fundo div{
        max-width: 200px;
        max-height: 250px;
    }
    .roupas{
        background-size: 200px 250px;
    } */
}