/* Váriaveis de cor */

:root
{
    --rosa: #f388aa;
    --rosaEscuro: #9c2148;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body
{
    font-family: 'Montserrat', sans-serif;    
}
.container
{
    margin: auto;
    max-width: 1200px;   
}
/* --- Cabeçalho --- */


header .container
{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 20px;
    
}

.cabecalho
{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 104px;
}

.cabecalho .logo
{
    margin-left: 350px;
}

.logo img 
{    
    height: 100px;    
}
.opcoes a
{
    padding: 10px;
}
.opcoes img
{    
    width: 30px;
}

.menu 
{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.menu a
{
    text-decoration: none;
    margin-right: 40px;
    color: var(--rosaEscuro);
}
.menu-opcoes a{
    transition:  color .1s;   
}

.menu-opcoes a:hover{
    color: var(--rosa);   
}

/* ---- Rodapé ----- */

footer
{   
    border-top: 30px solid var(--rosa);
}

footer .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.redesSociais
{
    display: flex;
    margin-bottom: 10px;    
}
.redesSociais a
{
    padding-left: 20px;    
}
.redesSociais i
{
    color: var(--rosaEscuro);   
}
.contato-pagamento
{
    display: flex;
}
.contato
{
    border-right: 1px solid var(--rosa);
    padding: 30px; 
    max-width:300px;    
}

.contato p
{
   line-height: 30px;
   font-size: 20px;
   margin-bottom: 10px;
}
.contato p a
{
    text-decoration: none;
    color: black;
}
.contato .telefone
{
    display: flex;
    align-items: center;
}

.telefone i
{
    margin-right: 10px;
    color: var(--rosaEscuro);
}
.contato .email
{
    display: flex;
    align-items: center;
}
.email i
{
    margin-right: 10px;
    color: var(--rosaEscuro);
}
.pagamento
{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.pagamento img
{
    height: 100px;
    margin: 10px;    
}
.pagamento #logoPix
{
    width: 200px;
    height: 70px;
}

