/* Váriaveis de cor */

:root
{
    --rosa: #f388aa;
    /* --rosaEscuro: #9c2148; */
    /* --rosaEscuro: #c93966; */
    --rosaEscuro: #c31c51;
    --preto: rgb(70, 70, 70);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body
{
    font-family: 'Montserrat', sans-serif;    
}
p
{
    color:var(--preto) ;
}
.container
{
    margin: auto;
    max-width: 1200px;   
}
/* --- Cabeçalho --- */


header .container
{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 20px;
}

.cabecalho
{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 104px;
}

.cabecalho .logo
{
    margin-left: 350px;
}

.logo img 
{    
    height: 100px;    
}
.opcoes a
{
    padding: 10px;
}
.opcoes img
{    
    width: 30px;
}

.menu 
{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.menu a
{
    text-decoration: none;
    margin-right: 40px;
    color: var(--rosaEscuro);
}
.menu-opcoes a{
    transition:  color .1s;   
}

.menu-opcoes a:hover{
    color: var(--rosa);   
}

/*----Seção Cadastro---- */

.newsletter
{
    padding: 30px;
}
.newsletter .container
{
    border: 4px solid var(--rosaEscuro);
    padding: 30px;
    max-width: 1000px;
}
.container-conteudo-newsletter
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-conteudo-newsletter .descricao
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.container-conteudo-newsletter .descricao h2
{
    font-size: 18px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    text-align: center;
}
.container-conteudo-newsletter strong 
{
    color: var(--rosa);
}
.container-conteudo-newsletter .descricao p
{
    color: var(--rosaEscuro);
    font-weight: bold;
    padding: 20px 0px;
    text-align: center;
}
.cadastro
{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-column-gap: 20px;
}
.cadastro button
{
    padding: 10px;
    color: white;
    background-color: var(--rosaEscuro);
    cursor: pointer;
}
.cadastro button:hover
{
    background-color: var(--rosa);
}
.cadastro input
{
    border: none;
    border-bottom: 2px solid var(--rosa);
    outline-style: none;
}

/* ---- Rodapé ----- */

footer
{   
    border-top: 30px solid var(--rosaEscuro);
}

footer .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.redesSociais
{
    display: flex;
    margin-bottom: 15px;
    align-items: center; 
}
.redesSociais p
{
    font-size: 24px;
    margin: 0;
    margin-right: 15px;
}
.redesSociais i
{
    font-size: 30px;
    color: var(--rosaEscuro); 
    margin-right: 15px;
}

.contato-pagamento
{
    display: flex;
}
.contato
{
    border-right: 1px solid var(--rosa);
    padding: 30px; 
    max-width:300px;    
    margin-right: 20px;
}

.contato p
{
   line-height: 30px;
   font-size: 20px;
   margin-bottom: 10px;
}
.contato p a
{
    text-decoration: none;
    color: var(--preto);
}
.contato .telefone
{
    display: flex;
    align-items: center;
}

.telefone i
{
    margin-right: 10px;
    color: var(--rosaEscuro);
}
.contato .email
{
    display: flex;
    align-items: center;
}
.email i
{
    margin-right: 10px;
    color: var(--rosaEscuro);
}
.pagamento
{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.pagamento img
{
    max-height: 180px;
    max-width: 300px; 
}
.pagamento #logoPix
{
    max-width: 150px;
    max-height: 50px;
}

/* Responsividade para dispositivos móveis */

@media (max-width: 430px){

    /* cabecalho */

    header .container{
        max-width: 100%;
        max-height: 300px;
    }
    header .cabecalho{
        max-width: 100%;
        
    }
    .cabecalho .logo{
        margin-left: 0;
        margin: 0 auto;
    }
    .menu-opcoes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .menu-opcoes a{
        padding: 10px 0;
        margin-right: 30px;
    }
    .opcoes{
        display: none;
    }

    /* Newsletter */
    .cadastro{
        grid-template-columns: 1fr;
    }
    .cadastro > *{
        margin: 15px 0;
    }

    /* footer */

    .redesSociais{
        margin-bottom: 5px;
    }
    .redesSociais p{
        font-size: 20px;
        margin-top: 8px;
        margin-right: 10px;
    }
    .redesSociais i{
        font-size: 20px;
        margin-right: 10px;
    }
    .contato-pagamento{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .contato{
        border-bottom: 1px solid var(--rosa);
        border-right: 0px ;
        margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    
    .contato p{
        font-size: 14px;
        line-height: 30px;
    }
    .contato .telefone{
        margin-bottom: 10px;
    }
    .contato .telefone i{
        margin-left: 5px;
    }    
    .pagamento p{
        font-size: 16px;
        margin: 0 auto;
    }

}