:root
{
    --rosa: #f388aa;
    --rosaEscuro: #c31c51;
    --preto: rgb(70, 70, 70);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Seção roupas ---- Cabeçalho */

.secao-cabecalho
{
    background-color: var(--rosaEscuro);
    height: 100px;
}

.secao-cabecalho .container
{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container-titulo-produtos
{
    display: flex;
}

.container-titulo-produtos i
{
    color: white;
    margin: 0 5%;
}

.container-titulo-produtos h1
{
    color: white;
    font-size: 34px;
    font-style: italic;
    margin: 0;
}

/*  Seção Produtos */

.secaoPrincipal .container
{
    display: flex;
    justify-content: center;
    padding: 30px 10px 0 10px;
}

.container-conteudo
{
    display: flex;
    flex-direction: column;
}
.pagination
{
    justify-content: center;
    margin: 10px 0 50px 0;
}

.page-link
{
    color: var(--rosaEscuro);
}

.page-link:hover
{
    color: white;
    background-color: #f388aa;
}

/*  Seção Produtos ---- filtro */

.container-filtro
{
    max-width: 500px;
}

.container-filtro i{
    margin-right: 5px;
}

.titulo_filtro
{
    display: flex;
    align-items: center;
}

.titulo_filtro strong
{
    font-weight: bold;
    font-size: 24px;
}

.container-filtro i
{
    color: var(--rosaEscuro);
    font-size: 24px;
}

.container-filtro p
{
    padding: 20px 0;
    width: 100%;
    font-size:20px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.83);
    margin-bottom: 20px
}

.container-filtro strong
{
    font-weight: bold;
}

.container-filtro ul
{
    list-style: none;
    padding: 20px 0;
}
.container-filtro li
{
    margin-bottom: 20px;
    cursor: pointer;
}

/*  Seção Roupas ---- conteudo */

.container-produtos 
{
    margin-left: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    /* align-items: center; */
}
.produto
{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.produto p
{
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;  
}

.produto p strong
{
    border-top: 2px solid var(--rosa);
    padding-top: 4%;
    font-weight: bold;
    color: black;

}

.produto img
{
    width: 180px;
    height: 230px;
    object-fit: cover;
    border-radius: 10%;
}

.produto .preco
{
    color: var(--rosaEscuro);
    font-size: 20px;
    text-decoration: none;
}

/* Responsividade para dispositivos móveis */

@media(max-width: 950px){
    .container-produtos{
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0;
    }
    .container-filtro{
        max-width: 100%;
    }
    .container-produtos .produto img{
        max-width: 100%;
        max-height: 100%;
    }
    .container-filtro span, .container-filtro i,.container-filtro p{
        padding-left: 47px;
    }
    .secaoPrincipal .container {
        flex-direction: column;
    }
    .lista_filtro{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 0;
    }
    .lista_filtro li{
        text-align: center;
    }
    .produto .preco{
        font-size: 16px;
    }
    .produto p strong{
        border-top: 0px;
    }
    .produto .nome{
        border-bottom: 2px solid var(--rosa);
        padding-bottom: 10px;
    }
}

@media (max-width: 500px){

    /* produtos */
    .container-filtro span, .container-filtro i, .container-filtro p {
        padding-left: 20px;
    }
    .container-produtos .produto{
        max-width: 100px;
    }
    .container-produtos .produto img{
        max-width: 100%;
        max-height: 90px;
    }
    
    .lista_filtro{
        grid-template-columns: 1fr 1fr 1fr 1fr;        
    }    
}