:root
{
    --rosa: #f388aa;
    --rosaEscuro: #9c2148;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Seção roupas ---- Cabeçalho */

.secaoCabecalho
{
    background-color: var(--rosa);
    height: 120px;
}

.secaoCabecalho .container
{
    display: flex;
    height: 100%;
    max-width: 980px;
    align-items: center;
}

.secaoCabecalho_titulo p
{

    color: white;
    font-size: 30px;
}

/*  Seção Roupas */

.secaoPrincipal .container
{
    display: flex;
    padding: 40px 10px;
}

/*  Seção Roupas ---- filtro */

.secaoPrincipal_filtro
{
    width: 500px;
    /* box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15); */
}
.secaoPrincipal_filtro i
{
    color: var(--rosaEscuro);
    font-size: 24px;
}
.titulo_filtro strong
{
    font-weight: bold;
    font-size: 24px;
}
.secaoPrincipal_filtro p
{
    padding: 20px 0;
    width: 100%;
    font-size:20px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.83);
    margin-bottom: 20px
}

.secaoPrincipal_filtro strong
{
    font-weight: bold;
}

.secaoPrincipal_filtro ul
{
    list-style: none;
    padding: 20px 0;
}
.secaoPrincipal_filtro li
{
    margin-bottom: 20px;
    cursor: pointer;
}
/*  Seção Roupas ---- conteudo */

.secaoPrincipal_conteudo 
{
    margin-left: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 250px;
    /* align-items: center; */
}
.produto
{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.produto p
{
    padding-top: 10px;
}

/*----Seção Cadastro---- */
.secaoCadastro
{
    margin: 30px 0 50px 0;
}
.secaoCadastro .container
{
    border: 4px solid var(--rosa);
    padding: 30px;
}
.secaoCadastro_conteudo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secaoCadastro_conteudo .descricao
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.secaoCadastro_conteudo .descricao h2
{
    font-size: 18px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}
.secaoCadastro_conteudo strong 
{
    color: var(--rosa);
}
.secaoCadastro_conteudo .descricao p
{
    color: var(--rosaEscuro);
    font-weight: bold;
    padding: 20px 0px;
}
.cadastro
{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-column-gap: 20px;
}
.cadastro button
{
    padding: 10px;
    color: white;
    background-color: var(--rosaEscuro);
    cursor: pointer;
}
.cadastro button:hover
{
    background-color: var(--rosa);
}
.cadastro input
{
    border: none;
    border-bottom: 2px solid var(--rosa);
    outline-style: none;
}
