:root
{
    --rosa: #f388aa;
    --rosaEscuro: #9c2148;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body
{
    font-family: 'Montserrat', sans-serif;    
}

/* seção roupas */

.secaoRoupas_cabecalho
{
    background-color: var(--rosa);
    height: 100px;
}

.secaoRoupas_cabecalho .container
{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;    
}


.secaoRoupas_cabecalho .titulo p
{
    color: white;
    font-size: 30px;
}